/*****
* main color vert foncé: #7DBF3B;
*/

h1,
h2,
h3,
blockquote,
.main-navigation ul ul li:first-child,
.main-navigation .nav-menu > .current_page_item > a,
.main-navigation .nav-menu > .current-menu-item > a,
.main-navigation .nav-menu > .current_page_ancestor > a,
.main-navigation .nav-menu > .current-menu-ancestor > a {
	border-color: #7DBF3B; 
}

a,
a:visited,
.main-navigation .nav-menu > li > a:hover,
.main-navigation .nav-menu > li > a:focus,
.main-navigation .nav-menu > .current_page_item > a,
.main-navigation .nav-menu > .current-menu-item > a,
.main-navigation .nav-menu > .current_page_ancestor > a,
.main-navigation .nav-menu > .current-menu-ancestor > a
 {
	color: #7DBF3B;
}

aside .widget-title {
	background: #7DBF3B;
}

a:hover,
a:focus,
a:active {
	color: #009FDE;
}

.site-branding h1 {
	background-color: rgba(125, 191, 59, 0.5);
}