/*****
* main color orange: #DD9946;
*/

h1,
h2,
h3,
blockquote,
.main-navigation ul ul li:first-child,
.main-navigation .nav-menu > .current_page_item > a,
.main-navigation .nav-menu > .current-menu-item > a,
.main-navigation .nav-menu > .current_page_ancestor > a,
.main-navigation .nav-menu > .current-menu-ancestor > a {
	border-color: #DD9946; 
}

a,
/*a:visited,*/
.main-navigation .nav-menu > li > a:hover,
.main-navigation .nav-menu > li > a:focus,
.main-navigation .nav-menu > .current_page_item > a,
.main-navigation .nav-menu > .current-menu-item > a,
.main-navigation .nav-menu > .current_page_ancestor > a,
.main-navigation .nav-menu > .current-menu-ancestor > a
 {
	color: #DD9946;
}

aside .widget-title {
	background: #DD9946;
}

a:hover,
a:focus,
a:active {
	color: #009FDE;
}

.site-branding h1 {
	background-color: rgba(221, 153, 70, 0.5);
}