h1,
h2,
h3 {
	border-bottom-color: #DD9946; 
}

blockquote {
	border-color:#DD9946;
}

a {
	color: #DD9946;
}

a:visited {
	color: #DD9946;
}

a:hover,
a:focus,
a:active {
	color: #009FDE;
}

.main-navigation ul ul li:first-child {
	border-top-color: #DD9946;
}

.main-navigation .nav-menu > li > a:hover,
.main-navigation .nav-menu > li > a:focus {
	color: #DD9946;
}

.main-navigation .nav-menu > .current_page_item > a,
.main-navigation .nav-menu > .current-menu-item > a,
.main-navigation .nav-menu > .current_page_ancestor > a,
.main-navigation .nav-menu > .current-menu-ancestor > a {
	border-bottom-color: #DD9946;
	color: #DD9946;
}

.site-branding h1 {
	background-color: rgba(221, 153, 70, 0.5);
}